<?php
$config = array(
    //put true for short aliases like /about, /contacts, etc.
    //default: bool true
    'use_short_alias' => false,
    /**
     * Conider locale at forming link and getting article
     * To have any effect you should have enabled LibraLocale module
     */
    'consider_locale'  => false,

    'override_home_route' => false,

    // Article alias for homepage
    'homepage_alias' => 'home',

    'tidy_config' => array(
        'indent'         => true,
        'indent-spaces'  => 4,
        'wrap'           => 120,
    ),

    // Disable CKEditor by setting empty string or fale
    // You can set here any another editor (not implemented)
    // default: 'CKEditor'
    // 'content_editor' => false,

    // CKEditor options
    // You can see full list at http://docs.cksource.com/ckeditor_api/symbols/CKEDITOR.config.html
    'ckeditor' => array(
        /* Uncomment row below to apply that css to editor in admin */
        //'contentsCss' => '/css/ckeditor.css'

        // It sets the height of editor field in admin
        // Default is 400px
        //'height' => '400'
    ),
);

$libraArticleConfig = array(
    'libra_article' => $config,
    'router' => array(
        'routes' => array(
            'libra-article' => array(
                'priority' => $config['use_short_alias'] ? -100 : null,
                'options' => array(
                    'locale_aware' => $config['consider_locale'],
                    'route' => $config['use_short_alias'] ? '/[:alias]' : '/article[/:alias]',
                ),
            ),
        ),
    ),
);

if ($config['override_home_route']) {
    $libraArticleConfig['router']['routes']['home'] = array(
        'type' => 'Zend\Mvc\Router\Http\Literal',
        'options' => array(
            'route'    => '/',
            'locale_aware' => $config['consider_locale'],
            'defaults' => array(
                'module'     => 'libra-article',
                'controller' => 'article',
                'action'     => 'view',
                'alias'      => $config['homepage_alias'],
            ),
        ),
    );
}

$libraArticleConfig['libra_article']['tidy_config']['show-body-only'] = true;

return $libraArticleConfig;